<div class="container user-profile">
<style>
  .user-profile {
    margin-top: 20px;
  }
  .glyphicon { 
    margin-bottom: 10px;
    margin-right: 10px;
  }
  small {
    display: block;
    line-height: 1.428571429;
    color: #999;
  }
  .dropdown-toggle {
    height: 51px;
  }
  .profile-pic {
    border-right: 4px solid #eee;
  }
  .margin-top10 {
    margin-top: 10px;
  }
</style>
  <div class="row">
    <div class="col-xs-4 profile-pic">
        <img src="templates/enzo.png" alt="" class="img-rounded img-responsive margin-top10">
    </div>
    <div class="col-xs-8">
      <h4>Enzo Matrix</h4>
      <small>
        <cite title="San Francisco, USA">
          Baudway Sector, Level 1, Mainframe 
          <i class="glyphicon glyphicon-map-marker"></i>
        </cite>
      </small>
      <p>
        <i class="glyphicon glyphicon-envelope"></i>enzo@reboot.com
        <br>
        <i class="glyphicon glyphicon-globe"></i>
          <a href="http://reboot.wikia.com/wiki/Enzo_Matrix">http://reboot.wikia.com/wiki/Enzo_Matrix</a>
        <br>
        <i class="glyphicon glyphicon-gift"></i>September 10, 1994
      </p>
    </div>
  </div>
  <div class="row margin-top10">
    <div class="col-xs-12 margin-top10">
      <a href="#rebootView" class="btn btn-primary">Learn more about Reboot</a>
    </div>
  </div>
</div>
